run = "bash start-replit.sh"
modules = ["nodejs-20", "web"]
hidden = [".config", "package-lock.json", "node_modules"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "nodejs"

[deployment]
run = ["sh", "-c", "npm install && npm run build && npm start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 5000
externalPort = 80